<div class="container">
  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card card-signup">
        <h2 class="card-title text-center">Sobre nosotros</h2>
        <div class="card-body">
          <p>Somos desarrolladores orientados a crear una herramienta funcional para trabajadores que quieran conocer el ambiente de trabajo del empleo al que quieren postular.</p>
        </div>
      </div>
    </div>
  </div>
</div>