<!--         inverse navbar with notifications     -->
<nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-translate">
            <a class="navbar-brand" routerLink="inicio">CONOCE TU PEGA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <li class="form-inline ml-auto">
                        <div class="form-group has-white" *ngIf="buscando">
                            <input type="text" class="form-control" placeholder="Buscar...">
                        </div>
                        <button type="submit" class="btn btn-white btn-raised btn-fab btn-round" (click)="buscar()">
                            <i class="material-icons">search</i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a routerLink="inicio" class="nav-link">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="inicio" class="nav-link">
                            Empresas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="about" class="nav-link">
                            Sobre nosotros
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="contacto" class="nav-link">
                            Contacto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="admin" class="nav-link">
                            Administración
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="" class="btn btn-primary btn-raised btn-fab btn-round" data-toggle="modal" data-target="#ModalAdd">
                            <i class="material-icons">add</i>
                        </a>
                    </li>
                    <li class="dropdown nav-item" *ngIf="!logueado">
                        <a href="" class="btn btn-primary btn-raised btn-fab btn-round" data-toggle="modal" data-target="#loginModal">
                            <i class="material-icons">person</i>
                        </a>
                    </li>
                    <li class="dropdown nav-item" *ngIf="logueado">
                        <a href="" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
                            <div class="profile-photo-small">
                                <img src="{{ _ac.usuario.foto }}" class="rounded-circle img-fluid">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">
                                Mi Cuenta
                            </h6>
                            <a routerLink="cuenta/perfil" class="dropdown-item">Perfil</a>
                            <a routerLink="cuenta/mensajes" class="dropdown-item">Mensajes</a>
                            <a href="#pablo" class="dropdown-item">Configuración</a>
                            <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">Salir</a>
                        </div>
                    </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
</nav>
<!-- end inverse navbar -->

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <h4 class="card-title">Log in</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-just-icon btn-link">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-link">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-just-icon btn-link" data-dismiss="modal" (click)="login('google')">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="" action="">
                        <p class="description text-center">O</p>
                        <div class="card-body">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">face</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="First Name...">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">mail</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email...">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                    </div>
                                    <input type="password" placeholder="Password..." class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Iniciemos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  End Login Modal -->

<!-- Add Modal -->
<div class="modal fade" id="ModalAdd" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <h4 class="card-title">Agregar publicación</h4>
                    </div>
                </div>
                <div class="modal-body p-2">

                    <div class="form-group d-flex justify-content-center align-items-end">
                        <label class="p-2">Empresa</label>
                        <select class="selectpicker p-2" data-style="select-with-transition" title="-- Seleccione --" data-size="7">
                            <option value="2">Foobar</option>
                            <option value="3">Is great</option>
                            <option value="2">Foobar</option>
                            <option value="3">Is great</option>
                            <option value="2">Foobar</option>
                            <option value="3">Is great</option>
                            <option value="2">Foobar</option>
                            <option value="3">Is great</option>
                        </select>
                    </div>
                    <div class="form-group d-flex justify-content-center align-items-end">
                        <label class="p-2">Ciudad</label>
                        <select class="selectpicker p-2" data-style="select-with-transition" title="-- Seleccione --" data-size="7">
                            <option value="2">Foobar</option>
                            <option value="3">Is great</option>
                            <option value="2">Foobar</option>
                            <option value="3">Is great</option>
                            <option value="2">Foobar</option>
                            <option value="3">Is great</option>
                            <option value="2">Foobar</option>
                            <option value="3">Is great</option>
                        </select>
                    </div>
                    <div class="form-group d-flex align-items-end">
                        <label class="p-2">Valoracion general</label>
                        <div class="stars ml-auto p-2">
                            <i class="fa fa-star-o" [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)"></i>
                            <i class="fa fa-star-o" [ngClass]="color2" (mouseover)="changeStyle2($event)" (mouseout)="changeStyle2($event)"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-end">
                        <label class="p-2">Ambiente de trabajo</label>
                        <div class="stars ml-auto p-2">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-end">
                        <label class="p-2">Salario y prestaciones</label>
                        <div class="stars ml-auto p-2">
                            <i class="material-icons ">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-end">
                        <label class="p-2">Oportunidades de carrera</label>
                        <div class="stars ml-auto p-2">
                            <i class="material-icons ">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-end">
                        <label class="p-2">Gerencia</label>
                        <div class="stars ml-auto p-2">
                            <i class="material-icons ">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  End Add Modal -->