/* You can add global styles to this file, and also import other style files */
html { 
  background: url(assets/img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: relative;
}
body{
  background-color: transparent; 
  height:100%;
  margin-bottom: 50px;
}
.container{
  min-height: 100% !important;
}
footer{
  margin-top: 2em;
}

.media:hover{
  background-color: beige;
  cursor: pointer;
}


/* MENSAJES */
.mensajes div, .mensajes div p{
  margin: 0;
  padding: 0;
}


.stars .fa{
  font-size: 1.5em !important;
  cursor: pointer;
}
/* .Gstar-1:hover {
  color: black;
}
.Gstar-2:hover ~ .Gstar-1 {
  color: black;
} */