<div class="main main-raised animated pulse">
  <div class="profile-content mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="row">
            <!-- PERFIL -->
            <div class="col-md-12 ml-auto mr-auto">
              <div class="profile">
                <!-- FOTO -->
                <div class="row">
                  <div class="col-md-2">
                    <div class="avatar mt-5">
                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-circle img-raised">
                          <img src="{{ usuario.foto}}" alt="user">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                        <div *ngIf="activa">
                          <span class="btn btn-raised btn-round btn-default btn-file">
                            <span class="fileinput-new">SUBIR FOTO</span>
                            <span class="fileinput-exists">EDITAR</span>
                            <input type="file" name="photo" /></span>
                          <br />
                          <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                              class="fa fa-times"></i> ELIMINAR</a>
                        </div>
                      </div>
                      <!-- <img src="../assets/img/faces/avatar.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid"> -->
                    </div>
                  </div>
                  <div class="col-md-10 pl-5">
                    <h3>{{ usuario.nombre }}</h3>
                    <h5>{{ usuario.email }}</h5>
                  </div>
                </div>
              </div>
            </div>

            <!-- OPCIONES -->
            <div class="col-md-8 ml-auto mr-auto">

              <div class="profile-tabs">
                <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" href="#work" role="tab" data-toggle="tab">
                      <i class="material-icons">palette</i> Work
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#connections" role="tab" data-toggle="tab">
                      <i class="material-icons">people</i>Connections
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#media" role="tab" data-toggle="tab">
                      <i class="material-icons">camera</i>Media
                    </a>
                  </li>
                </ul>
              </div>

            </div>

            <!-- TABS -->
            <div class="col-md-12 ml-auto mr-auto">
              <div class="tab-content text-center tab-space">
                <div class="tab-pane active work" id="work">
                  <div class="row">
                    <div class="col-md-7 ml-auto mr-auto ">
                      <h4>Opcion 1</h4>
                    </div>
                  </div>
                </div>
                <div class="tab-pane text-center connections" id="connections">
                  <div class="row">
                    <div class="col-md-7 ml-auto mr-auto ">
                      <h4>Opcion 2</h4>
                    </div>
                  </div>
                </div>
                <div class="tab-pane text-center gallery" id="media">
                  <div class="row">
                    <div class="col-md-7 ml-auto mr-auto ">
                      <h4>Opcion 3</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- STATS -->
        <div class="col-md-2 mr-auto ml-auto stats mb-5">
          <h4 class="title">Stats</h4>
          <table>
            <tr>
              <td>Diamantes</td>
              <td class="pl-2"><b>60</b></td>
            </tr>
            <tr>
              <td>Post</td>
              <td class="pl-2"><b>4</b></td>
            </tr>
            <tr>
              <td>Comentarios</td>
              <td class="pl-2"><b>331</b></td>
            </tr>
            <tr>
              <td>Likes</td>
              <td class="pl-2"><b>1.2K</b></td>
            </tr>
          </table>
          <hr>
          <h4 class="title">Logros</h4>
          <span class="badge badge-primary">Amigable</span>
          <span class="badge badge-rose">Minero</span>
        </div>

      </div>
    </div>
  </div>
</div>