
<!--     *********    BLACK SIMPLE FOOTER WITH SOCIAL AND BRAND     *********      -->

<footer class="footer footer-black">
    <div class="container">
      <a class="footer-brand" href="#pablo">Conoce Tu Pega</a>


      <ul class="pull-center">
        <li>
          <a href="#pablo">
             Inicio
          </a>
        </li>
        <li>
          <a href="#pablo">
            Empresas
          </a>
        </li>
        <li>
          <a href="#pablo">
             Acerca de
          </a>
        </li>
        <li>
          <a href="#pablo">
            Contacto
          </a>
        </li>
      </ul>

      <ul class="social-buttons float-right">
        <li>
          <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-link">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-link">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-just-icon btn-link">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>

    </div>
  </footer>

  <!--     *********   END BLACK SIMPLE FOOTER WITH SOCIAL AND BRAND     *********      -->

