

<div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card card-signup">
                    <h2 class="card-title text-center">Administracion de Empresas</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 mb-2">
                                <button class="btn btn-block btn-round btn-primary" data-toggle="modal" data-target="#loginModal">
                                    <i class="material-icons">account_circle</i>
                                    Nuevo
                                </button>
                            </div>
                            <div class="col-md-12 ml-auto">
                                <table class="table table-striped">
                                        <thead>
                                            <tr>
                                            <th>#</th>
                                            <th>Empresa</th>
                                            <th>Pais</th>
                                            <th>Diamantes</th>
                                            <th>Estado</th>
                                            <th>Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of empresas | async; let i = index">
                                            <th scope="row">1</th>
                                            <td>{{ item.nombre }}</td>
                                            <td>{{ item.pais }}</td>
                                            <td>{{ item.diamantes }}</td>
                                            <td><span class="badge badge-default">ACTIVO</span></td>
                                            <td>
                                                <div class="btn-group" mdbDropdown>
                                                <i class="fa fa-chevron-down p-2" aria-hidden="true" mdbDropdownToggle mdbWavesEffect></i>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-eye" aria-hidden="true"></i> VER</a>
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> EDITAR</a>
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-trash" aria-hidden="true"></i> BORRAR</a>
                                                </div>
                                                </div>
                                            </td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-login" role="document">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <div class="card-header card-header-primary text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                            <h4 class="card-title">Nuevo Usuario</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form #formGuardar="ngForm" (ngSubmit)="onSubmit(formGuardar)"  >
                            <div class="card-body">
    
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">business</i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="empresa.nombre" name="nombre" placeholder="Nombre" >
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">business_center</i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="empresa.fantasia" name="fantasia" placeholder="Fantasia">
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">map</i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="empresa.pais" name="pais" placeholder="Pais">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">map</i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="empresa.region" name="region" placeholder="Region">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">location_city</i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="empresa.ciudad" name="ciudad" placeholder="Ciudad">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">location_city</i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="empresa.comuna" name="comuna" placeholder="Comuna">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">streetview</i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="empresa.direccion" name="direccion" placeholder="Direccion">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">image</i>
                                        </span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="empresa.logo" name="logo" placeholder="URL Logo">
                                    </div>
                                </div>

                                <div class="modal-footer justify-content-center">
                                    <button type="submit"  class="btn btn-primary btn-link btn-wd btn-lg" (click)="formGuardar.ngSubmit.emit()" data-dismiss="modal" >Agregar</button>
                                </div>                              

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->