<div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card card-signup">
          <h2 class="card-title text-center">Contactanos</h2>
          <div class="card-body">
            <p>¡Queremos saber tu opinion!</p>
          </div>
        </div>
      </div>
    </div>
  </div>