<main>
  <div class="container">
    <div class="row">
        <div class="col text-center">
          <h5>Administración de Empresas</h5>
          <div class="d-flex flex-row">
            <!-- Button trigger modal -->
            <button type="button" mdbBtn color="primary" class="waves-light p-2" (click)="form.show()" mdbWavesEffect>
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
            </button>
          </div>

          <!--Modal: Contact form-->
          <div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

              <!--Header-->
              <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                  <i class="fa fa-pencil"></i>Crear Empresa</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <!--Body-->
              <div class="modal-body">                  
                  <form #formGuardar="ngForm" (ngSubmit)="onSubmit(formGuardar)"  >                   
                    <div class="md-form">
                      <input type="text" class="form-control" [(ngModel)]="empresa.nombre" name="nombre" >
                      <label>Nombre</label>
                    </div>
                    <div class="md-form">
                      <input type="text" class="form-control" [(ngModel)]="empresa.fantasia" name="fantasia">
                      <label>Fantasia</label>
                    </div>
                    <div class="md-form">
                      <input type="text" class="form-control" [(ngModel)]="empresa.pais" name="pais">
                      <label>Pais</label>
                    </div>
                    <div class="md-form">
                      <input type="text" class="form-control" [(ngModel)]="empresa.region" name="region">
                      <label>Region</label>
                    </div>
                    <div class="md-form">
                      <input type="text" class="form-control" [(ngModel)]="empresa.ciudad" name="ciudad">
                      <label>Ciudad</label>
                    </div>
                    <div class="md-form">
                      <input type="text" class="form-control" [(ngModel)]="empresa.comuna" name="comuna">
                      <label>Comuna</label>
                    </div>
                    <div class="md-form">
                      <input type="text" class="form-control" [(ngModel)]="empresa.direccion" name="direccion">
                      <label>Direccion</label>
                    </div>
                    <div class="md-form">
                      <input type="text" class="form-control" [(ngModel)]="empresa.logo" name="logo">
                      <label>Logo</label>
                    </div>
                    <!-- <div class="md-form">
                      <input type="text" class="form-control" mdbInputDirective>
                      <label>Diamantes</label>
                    </div>
                    <div class="md-form">
                      <input type="text" class="form-control" mdbInputDirective>
                      <label>Estrellas</label>
                    </div>
                    <div class="md-form">
                      <input type="text" class="form-control" mdbInputDirective>
                      <label>Visitas</label>
                    </div> -->                  
                    <div class="text-center">
                      <input type="submit" mdbBtn color="default" sclass="waves-light" (click)="form.hide()" value="Agregar">
                    </div>
                  </form>

              </div>
            </div>
            <!--/.Content-->
          </div>
          </div>
          <!--Modal: Contact form-->


          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Empresa</th>
                <th>Pais</th>
                <th>Diamantes</th>
                <th>Estado</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of empresas; let i = index">
                <th scope="row">1</th>
                <td>{{ item.nombre }}</td>
                <td>{{ item.pais }}</td>
                <td>{{ item.diamantes }}</td>
                <td><span class="badge badge-default">ACTIVO</span></td>
                <td>
                  <div class="btn-group" mdbDropdown>
                    <i class="fa fa-chevron-down p-2" aria-hidden="true" mdbDropdownToggle mdbWavesEffect></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-eye" aria-hidden="true"></i> VER</a>
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> EDITAR</a>
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-trash" aria-hidden="true"></i> BORRAR</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
    </div>
  </div>
</main>
