<main>
  <div class="container">
    <div class="row">
        <div class="col text-center">
          <h5>Administración de Usuarios</h5>
          <div class="d-flex flex-row">
            <!-- Button trigger modal -->
            <button type="button" mdbBtn color="primary" class="waves-light p-2" (click)="form.show()" mdbWavesEffect>
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
            </button>
          </div>

          <!--Modal: Contact form-->
          <div mdbModal #form="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">

              <!--Header-->
              <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                  <i class="fa fa-pencil"></i> Usuario</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <!--Body-->
              <div class="modal-body mb-0">
                  
                  <form>
                      <p class="h5 text-center mb-4">Crear nuevo Usuario</p>
                    
                      <div class="md-form">
                        <input type="text" class="form-control" mdbInputDirective>
                        <label>Nombre</label>
                      </div>
                    
                      <div class="text-center">
                        <input type="submit" mdbBtn color="default" sclass="waves-light" mdbWavesEffect value="Agregar">
                      </div>
                    </form>

              </div>
            </div>
            <!--/.Content-->
          </div>
          </div>
          <!--Modal: Contact form-->


          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Estado</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><span class="badge badge-default">ACTIVO</span></td>
                <td>
                  <div class="btn-group" mdbDropdown>
                    <i class="fa fa-chevron-down p-2" aria-hidden="true" mdbDropdownToggle mdbWavesEffect></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-eye" aria-hidden="true"></i> VER</a>
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> EDITAR</a>
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-trash" aria-hidden="true"></i> BORRAR</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><span class="badge badge-default">ACTIVO</span></td>
                <td>
                  <div class="btn-group" mdbDropdown>
                    <i class="fa fa-chevron-down p-2" aria-hidden="true" mdbDropdownToggle mdbWavesEffect></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-eye" aria-hidden="true"></i> VER</a>
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> EDITAR</a>
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-trash" aria-hidden="true"></i> BORRAR</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td><span class="badge badge-warning">BANEADO</span></td>
                <td>
                  <div class="btn-group" mdbDropdown>
                    <i class="fa fa-chevron-down p-2" aria-hidden="true" mdbDropdownToggle mdbWavesEffect></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-eye" aria-hidden="true"></i> VER</a>
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> EDITAR</a>
                        <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-trash" aria-hidden="true"></i> BORRAR</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
    </div>
  </div>
</main>
