<div class="container">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="card card-signup">
                <h2 class="card-title text-center">Administración de Usuarios</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 mb-2">
                            <button class="btn btn-block btn-round btn-primary" data-toggle="modal" data-target="#loginModal">
                                <i class="material-icons">account_circle</i>
                                Nuevo
                            </button>
                        </div>
                        <div class="col-md-12 ml-auto">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Usuario</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td><span class="badge badge-default">ACTIVO</span></td>
                                        <td>
                                            <div class="btn-group" mdbDropdown>
                                                <i class="fa fa-chevron-down p-2" aria-hidden="true" mdbDropdownToggle mdbWavesEffect></i>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-eye"
                                                            aria-hidden="true"></i> VER</a>
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-pencil"
                                                            aria-hidden="true"></i> EDITAR</a>
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-trash"
                                                            aria-hidden="true"></i> BORRAR</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                        <td><span class="badge badge-default">ACTIVO</span></td>
                                        <td>
                                            <div class="btn-group" mdbDropdown>
                                                <i class="fa fa-chevron-down p-2" aria-hidden="true" mdbDropdownToggle mdbWavesEffect></i>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-eye"
                                                            aria-hidden="true"></i> VER</a>
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-pencil"
                                                            aria-hidden="true"></i> EDITAR</a>
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-trash"
                                                            aria-hidden="true"></i> BORRAR</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                        <td><span class="badge badge-warning">BANEADO</span></td>
                                        <td>
                                            <div class="btn-group" mdbDropdown>
                                                <i class="fa fa-chevron-down p-2" aria-hidden="true" mdbDropdownToggle mdbWavesEffect></i>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-eye"
                                                            aria-hidden="true"></i> VER</a>
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-pencil"
                                                            aria-hidden="true"></i> EDITAR</a>
                                                    <a class="dropdown-item d-flex justify-content-between" href="#"><i class="fa fa-trash"
                                                            aria-hidden="true"></i> BORRAR</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-primary text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <h4 class="card-title">Nuevo Usuario</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="" action="">
                        <div class="card-body">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">face</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre...">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">mail</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email...">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                    </div>
                                    <input type="password" placeholder="Contraseña..." class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Agregar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->