<style>
    .chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    }
    .chip.chip-md img {
        height: 42px;
        width: 42px;
    }
</style>
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar ie-nav" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand" href="/"><img src="../../../assets/conocetupega.png" width="38px" alt="Conoce Tu Pega" /></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
                <a class="nav-link" href='/inicio'>Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
                <a class="nav-link" href='/empresas'>Empresas</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
                <a class="nav-link" href='/equipo'>Equipo</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
                <a class="nav-link" href='/admin'>Admin</a>
            </li>
          <!-- <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Opinions</a>
          </li> -->
      </ul>
      <ul class="navbar-nav nav-flex-icons rounded-circle">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link" 
                    id="navbarDropdownMenuLink" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false"
                    dropdownToggle>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img(28).jpg" 
                            alt="avatar" 
                            style="width: 35px !important;"
                            class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default" 
                    aria-labelledby="navbarDropdownMenuLink">
                    <!-- <a class="dropdown-item" href="#">
                        <i class="fa fa-user" aria-hidden="true"></i> Mi Perfil
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-users" aria-hidden="true"></i> Amigos
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Mensajes
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-close" aria-hidden="true"></i> Salir
                    </a> -->
                    <ul class="list-group">
                        <a href='perfil'>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fa fa-user" aria-hidden="true"></i>    Mi Perfil
                            </li>
                        </a>
                        <a href="#">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fa fa-users" aria-hidden="true"></i>    Amigos
                            </li>
                        </a>
                        <a href="#">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Mensajes
                                <span class="badge badge-primary badge-pill">4</span>
                            </li>
                        </a>
                        <a href="#">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <i class="fa fa-close" aria-hidden="true"></i>    Salir
                            </li>
                        </a>
                       
                    </ul>
                </div>
            </li>
      </ul>
  </links>
</mdb-navbar>
