

<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <button class="btn btn-primary btn-round" routerLink="user">
                <i class="material-icons">person</i> Usuarios
            </button>
            <button class="btn btn-primary btn-round" routerLink="empresa">
                <i class="material-icons">business</i> Empresa
            </button>
        </div>

    </div> 

</div>

<router-outlet></router-outlet>