
<app-header></app-header>
<main>
    <div class="container-fluid">
        <div class="row mt-4 pt-5">
            <div class="col-2 sidebar mt-3" style="background-color: rgb(63, 81, 181)">
                <a class="nav-link" (click)="showPage(1)" >Usuarios</a>
                <a class="nav-link" (click)="showPage(2)" >Empresas</a>
                <a class="nav-link" (click)="showPage(3)" >Perfiles</a>
                <a class="nav-link" (click)="showPage(4)" >Configuraciones</a>
            </div>
            <div class="col-10 main-content-area">
                <app-user *ngIf="adminuser"></app-user>
                <app-emp *ngIf="adminempresa"></app-emp>
            </div>
        </div>

    </div>
</main>