<div class="row">
    <div class="col animated pulse" *ngFor="let item of empresastop5">
        <div class="card card-blog">
            <div class="card-header card-header-image">
                <a href="">
                    <img class="img" src="{{ item.logo }}" style="height: 100px !important;" />
                </a>
            </div>

            <div class="card-body">
                <h6 class="card-category text-info text-center">{{ item.nombre }}</h6>
                <p class="text-center"><i class="fa fa-diamond" aria-hidden="true"></i> {{ item.diamantes }}</p>
                <p class="text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-full" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid main animated pulse" style="width: 60%; margin: auto;" *ngIf="!cargando">
    <!--Table-->
    <div class="table-responsive">
        <table class="table" style="margin-top: 2em;">

            <!--Table body-->
            <tbody>
                <tr *ngFor="let item of empresas; let i = index ">
                    <th class="text-center">{{ i+6 }}</th>
                    <td>{{ item.nombre }}</td>
                    <td><i class="fa fa-diamond" aria-hidden="true"></i> {{ item.diamantes }}</td>
                    <td><i class="fa fa-star" aria-hidden="true"></i> {{ item.estrellas }}</td>
                </tr>
            </tbody>
            <!--Table body-->

        </table>
    </div>
    <!--Table-->
</div>


<!-- cargando -->

<div class="row" *ngIf="cargando5">
    <div class="col">
        <div class="card card-blog" style="background-color: #D3D3D3">
            <div class="card-header card-header-image">
                <a>
                    <div style="height: 100px !important;"></div>
                </a>
            </div>
            <div class="card-body" style="height: 150px !important; background-color: #D3D3D3">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-blog" style="background-color: #D3D3D3">
            <div class="card-header card-header-image">
                <a>
                    <div style="height: 100px !important;"></div>
                </a>
            </div>
            <div class="card-body" style="height: 150px !important; background-color: #D3D3D3">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-blog" style="background-color: #D3D3D3">
            <div class="card-header card-header-image">
                <a>
                    <div style="height: 100px !important;"></div>
                </a>
            </div>
            <div class="card-body" style="height: 150px !important; background-color: #D3D3D3">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-blog" style="background-color: #D3D3D3">
            <div class="card-header card-header-image">
                <a>
                    <div style="height: 100px !important;"></div>
                </a>
            </div>
            <div class="card-body" style="height: 150px !important; background-color: #D3D3D3">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-blog" style="background-color: #D3D3D3">
            <div class="card-header card-header-image">
                <a>
                    <div style="height: 100px !important;"></div>
                </a>
            </div>
            <div class="card-body" style="height: 150px !important; background-color: #D3D3D3">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main mb-1" style="width: 60%; margin: auto; height: 50px; background-color: #D3D3D3" *ngIf="cargando"></div>
<div class="container-fluid main mb-1" style="width: 60%; margin: auto; height: 50px; background-color: #D3D3D3" *ngIf="cargando"></div>
<div class="container-fluid main mb-1" style="width: 60%; margin: auto; height: 50px; background-color: #D3D3D3" *ngIf="cargando"></div>
<div class="container-fluid main mb-1" style="width: 60%; margin: auto; height: 50px; background-color: #D3D3D3" *ngIf="cargando"></div>
<div class="container-fluid main mb-1" style="width: 60%; margin: auto; height: 50px; background-color: #D3D3D3" *ngIf="cargando"></div>

<!-- .cargando -->