/* You can add global styles to this file, and also import other style files */
.comentarios{
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.comentario-texto{
    background-color: honeydew;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}
.coment-info{
    font-size: .8em;
}



.row .sidebar{
    padding: 0;
    padding-top: 5em;
}
.sidebar
{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    color: #fff;
    overflow-x: hidden;
}
.sidebar a{
    display: block;
    padding: .5em;
    border-top: 1px solid #fff;
    width: 100%;
}
.sidebar a:last-child{
    border-bottom: 1px solid #fff;
}
.sidebar a:hover{
    background-color: darkgrey;
}

.main-content-area{
    margin-left: 10em;
    padding: 1em 3em;
}