<main>
  <div class="container">
      <div class="row mt-5 pt-5">
          <div class="col">
              <!-- Grid row -->
              <div class="row justify-content-md-center mt-5">

                <!-- Grid column-2 -->
                <div class="col-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view">
                            <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img (67).jpg" class="card-img-top" alt="photo">
                            <a [routerLink]="['/empresa']">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>                        
                    </div>                            
                    <p class="p-2 text-center font-weight-bold mt-2" style="font-size: 1.2em;"><i class="fa fa-diamond" aria-hidden="true"></i> 1860</p>
                    <!--/.Card-->
                </div>
                <!-- Grid column-2 -->
                <!-- Grid colum-8 -->
                <div class="col-8">
                    <h4 class="text-center font-weight-bold">Google</h4>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="p-2">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-full" aria-hidden="true"></i>
                            <i class="fa fa-star-o " aria-hidden="true"></i>
                        </div>
                    </div>
                    <div>
                        <h5>Texto de descripcion de ejemplo</h5>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, suscipit? Reiciendis, illum quisquam recusandae ipsam officia perferendis rem nulla. 
                            Autem, consectetur cum culpa ipsam delectus expedita. Earum laborum quo accusantium. </p>
                    </div>
                    <div class="d-flex flex-row justify-content-end ">
                        <div class="p-2 text-center mr-3 font-weight-bold">
                            <a class="fa fa-thumbs-o-up " aria-hidden="true"></a>
                            <p>255</p>
                        </div>
                        <div class="p-2 text-center font-weight-bold">
                            <a class="fa fa-thumbs-o-down" aria-hidden="true"></a>
                            <p>18</p>
                        </div>
                    </div>
                </div>
                <!-- Grid colum-8 -->

              </div>
              <!-- Grid row -->
              <div class="row mt-5 justify-content-md-center">
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <!-- Comentarios -->
                            <div class="comentarios">
                                <div class="row" *ngFor="let item of comentariosArray; let i = index">
                                    <div class="col-2">                                       
                                        <img src="{{ item.imgUser }}" 
                                            class="card-img-top rounded-circle ml-auto mr-auto mt-1 d-block" 
                                            style="width: 5em; height: 5em;"
                                            alt="photo" >
                                        <p class="text-center mt-1">{{ item.nomUser }}</p>
                                    </div>
                                    <div class="col-10 comentario-texto">
                                        <p>{{ item.desComentario }}</p>
                                        <p class="coment-info text-right">
                                            {{ item.comentInfo }} Comentarios 
                                            <a class="fa fa-sort-desc fa-2x" aria-hidden="true" (click)="mostrarComentario( item.idUser )"></a>
                                        </p>
                                    </div>
                                    <div *ngIf="mostrarComentResp == item.idUser" >
                                        <div class="coment-respuesta ml-5" *ngFor="let resp of item?.resp" >
                                            <b>{{ resp.respUser }}</b>
                                            <p>{{ resp.respDesc }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .Comentarios -->
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</main>


