<div class="main main-raised animated pulse">
  <div class="profile-content mt-5" style="height: 465px;">
    <div class="container">
      <div class="row">
        <!-- chats -->
        <div class="col-md-4 mt-2" style="overflow-y: scroll; height: 450px;">
          <div class="media pt-1">
            <a class="float-left" href="#pablo">
                <div class="avatar">
                    <img class="media-object" alt="Tim Picture" src="./assets/img/faces/marc.jpg">
                </div>
            </a>
            <div class="media-body">
                <h4 class="media-heading m-0 p-0">John Camber</h4>
                <p>Otro texto de prueba</p>
            </div>
          </div>
          <div class="media pt-1">
            <a class="float-left" href="#pablo">
                <div class="avatar">
                    <img class="media-object" alt="Tim Picture" src="./assets/img/faces/avatar.jpg">
                </div>
            </a>
            <div class="media-body">
                <h4 class="media-heading m-0 p-0">Scarlett Skae</h4>
                <p>Hello guys, nice to have you on the platform! There...</p>
            </div>
          </div>
        </div>
        <!-- mensajes -->
        <div class="col-md-5 mt-2">
          <!-- heigth total : 450px -->
          <div style="overflow-y: scroll; height: 370px; width: 100%;">
            <div class="d-flex flex-column mensajes">
              <!-- CUADRO DE MENSAJES -->
              <div class="p-2">
                <span class="badge badge-pill badge-secondary">Jonh camber</span>
                <p>Hola, mensaje de prueba</p>                  
              </div>
              <div class="ml-auto p-2">
                <span class="badge badge-pill badge-primary">Luis Felipe</span>
                <p>Hola, mensaje de prueba de respuesta</p>
                <p>con 2 parrafos de prueba</p>                  
              </div>
              <div class="p-2">
                <span class="badge badge-pill badge-secondary">Jonh camber</span>
                <p>Otro texto de prueba</p>                  
              </div>
            </div>            
          </div>
          <div style="width: 100%; height: 90%;">
            <div class="row d-flex align-items-center">
              <div class="col-md-8 p-2">
                <div class="form-group has-default">
                  <input type="text" class="form-control" placeholder="Mensaje..." [(ngModel)]="txtMensaje" #idTxtMensaje (keypress)="eventHandler($event)">
                </div>
              </div>
              <div class="col-md-4 p-2">
                <button class="btn btn-primary btn-round btn-sm" (click)="enviarMensaje()">
                  <i class="material-icons">send</i> Enviar
                </button>
              </div>
            </div>            
          </div>
        </div>
        <!-- contactos -->
        <div class="col-md-3 mt-2 mb-2 d-flex align-items-start flex-column" style="overflow-y: scroll; height: 450px;">
          <div class="media pt-1 d-flex align-items-center float-right" style="width: 100%;">
            <a class="float-left justify-content-end" href="#pablo">
                <div class="avatar m-0 p-0" style="width: 50px !important; height: 50px !important;">
                    <img class="media-object" src="./assets/img/faces/marc.jpg">
                </div>
            </a>
            <div class="media-body">
              <b class="m-0 p-0" style="font-size: .8em;">John Camber</b>
            </div>
          </div>
          <div class="media pt-1 d-flex align-items-center float-right" style="width: 100%;">
            <a class="float-left justify-content-end" href="#pablo">
                <div class="avatar m-0 p-0" style="width: 50px !important; height: 50px !important;">
                    <img class="media-object" src="./assets/img/faces/card-profile1-square.jpg">
                </div>
            </a>
            <div class="media-body">
              <b class="m-0 p-0" style="font-size: .8em;">John Camber</b>
            </div>
          </div>
          <div class="media pt-1 d-flex align-items-center float-right" style="width: 100%;">
            <a class="float-left justify-content-end" href="#pablo">
                <div class="avatar m-0 p-0" style="width: 50px !important; height: 50px !important;">
                    <img class="media-object" src="./assets/img/faces/kendall.jpg">
                </div>
            </a>
            <div class="media-body">
              <b class="m-0 p-0" style="font-size: .8em;">John Camber</b>
            </div>
          </div>
          <div class="media pt-1 d-flex align-items-center float-right" style="width: 100%;">
            <a class="float-left justify-content-end" href="#pablo">
                <div class="avatar m-0 p-0" style="width: 50px !important; height: 50px !important;">
                    <img class="media-object" src="./assets/img/faces/kendall.jpg">
                </div>
            </a>
            <div class="media-body">
              <b class="m-0 p-0" style="font-size: .8em;">John Camber</b>
            </div>
          </div>
          <div class="media pt-1 d-flex align-items-center float-right" style="width: 100%;">
            <a class="float-left justify-content-end" href="#pablo">
                <div class="avatar m-0 p-0" style="width: 50px !important; height: 50px !important;">
                    <img class="media-object" src="./assets/img/faces/kendall.jpg">
                </div>
            </a>
            <div class="media-body">
              <b class="m-0 p-0" style="font-size: .8em;">John Camber</b>
            </div>
          </div>
          <div class="media pt-1 d-flex align-items-center float-right" style="width: 100%;">
            <a class="float-left justify-content-end" href="#pablo">
                <div class="avatar m-0 p-0" style="width: 50px !important; height: 50px !important;">
                    <img class="media-object" src="./assets/img/faces/kendall.jpg">
                </div>
            </a>
            <div class="media-body">
              <b class="m-0 p-0" style="font-size: .8em;">John Camber</b>
            </div>
          </div>
          <div class="media pt-1 d-flex align-items-center float-right" style="width: 100%;">
            <a class="float-left justify-content-end" href="#pablo">
                <div class="avatar m-0 p-0" style="width: 50px !important; height: 50px !important;">
                    <img class="media-object" src="./assets/img/faces/kendall.jpg">
                </div>
            </a>
            <div class="media-body">
              <b class="m-0 p-0" style="font-size: .8em;">John Camber</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>