<!-- Main -->
<main>
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col text-center">
                <h2 class="asdsad">CONOCE TU PEGA</h2>
                <h5>Somos una comunidad para ayudar a los trabajadores !</h5>
                <br>
                <!-- Loader -->   
                <div *ngIf="cargado">
                    <div class="row animated shake infinite" style="margin-bottom: 1em;">
                        <div class="col" style="width: 15%; height: 250px; background-color: whitesmoke;"></div>
                        <div class="col" style="width: 15%; height: 250px; background-color: whitesmoke; margin-left: 1.5%"></div>
                        <div class="col" style="width: 15%; height: 250px; background-color: whitesmoke; margin-left: 1.5%"></div>
                        <div class="col" style="width: 15%; height: 250px; background-color: whitesmoke; margin-left: 1.5%; margin-right: 1.5%"></div>
                        <div class="col" style="width: 15%; height: 250px; background-color: whitesmoke;"></div>
                    </div>
                    <div class="row animated shake infinite" style="width: 60%; height: 50px; background-color: whitesmoke; margin: 0 auto; margin-bottom: .5em;"></div>
                    <div class="row animated shake infinite" style="width: 60%; height: 50px; background-color: whitesmoke; margin: 0 auto; margin-bottom: .5em;"></div>
                    <div class="row animated shake infinite" style="width: 60%; height: 50px; background-color: whitesmoke; margin: 0 auto; margin-bottom: .5em;"></div>
                    <div class="row animated shake infinite" style="width: 60%; height: 50px; background-color: whitesmoke; margin: 0 auto; margin-bottom: .5em;"></div>
                    <div class="row animated shake infinite" style="width: 60%; height: 50px; background-color: whitesmoke; margin: 0 auto; margin-bottom: .5em;"></div>
                </div>             
                <!-- .Loader -->
                
                <!-- Grid row -->
                <div class="row">
                  <!-- Grid column -->
                  <div class="col" *ngFor="let item of top5" >
                      <!--Card-->
                      <div class="card">
                          <!--Card image-->
                          <div class="view">
                              <img src="{{ item.logo }}" class="card-img-top" alt="photo" height="100px">
                              <a>
                                  <div class="mask rgba-white-slight"></div>
                              </a>
                          </div>
                          <!--Card content-->
                          <div class="card-body">
                              <!--Title-->
                              <h4 class="card-title">{{ item.nombre }}</h4>
                              <!--Text-->
                              <p><i class="fa fa-diamond" aria-hidden="true"></i> {{ item.diamantes }}</p>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star-half-full" aria-hidden="true"></i>
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                          </div>
                      </div>
                      <!--/.Card-->
                  </div>
                  <!-- Grid column -->
  
                </div>
                <!-- Grid row -->
  
                <div class="container-fluid" style="width: 60%; margin: auto;  ">
                    <!--Table-->
                    <table class="table" style="margin-top: 2em;">
        
                        <!--Table body-->
                        <tbody>
                            <tr *ngFor="let item of empresas; let i = index" >
                                <th scope="row">{{ i+1 }}</th>
                                <td>{{ item.nombre }}</td>
                                <td><i class="fa fa-diamond" aria-hidden="true"></i> {{ item.diamantes }}</td>
                                <td><i class="fa fa-star" aria-hidden="true"></i> {{ item.estrellas }}</td>
                            </tr>                        
                        </tbody>
                        <!--Table body-->
        
                    </table>
                    <!--Table-->
                </div>
  
  
            </div>
        </div>
    </div>
  </main>
  <!-- /.Main -->
  